<!-- BEGIN: Footer-->
<footer class="footer footer-static footer-light">
    <p class="clearfix blue-grey lighten-2 mb-0"><span class="float-md-left d-block d-md-inline-block mt-25">COPYRIGHT
            &copy; 2020<a class="text-bold-800 grey darken-2" href="#" target="_blank">
                myKeekapu,</a>All rights Reserved</span>
        <button class="btn btn-primary btn-icon scroll-top" type="button"><i class="feather icon-arrow-up"></i></button>
    </p>
</footer>
<!-- END: Footer-->

<!-- BEGIN: Vendor JS-->
<script src="/app-assets/vendors/js/vendors.min.js"></script>
<!-- BEGIN Vendor JS-->

<!-- BEGIN: Page Vendor JS-->

<!--<script src="/app-assets/vendors/js/charts/apexcharts.min.js"></script>-->
<script src="/app-assets/vendors/js/extensions/tether.min.js"></script>
<!-- <script src="/app-assets/vendors/js/extensions/shepherd.min.js"></script> -->
<!-- END: Page Vendor JS-->

<!-- BEGIN: Theme JS-->
<script src="/app-assets/js/core/app-menu.min.js"></script>
<script src="/app-assets/js/core/app.min.js"></script>
<script src="/app-assets/js/scripts/components.min.js"></script>
<script src="/app-assets/js/scripts/customizer.min.js"></script>
<script src="/app-assets/js/scripts/footer.min.js"></script>
<!-- doing this to avoid loading this js on every page - it tries to find the print button but results in a NPE mpre or less-->
<script src="<%= yield :print_permit %>"></script>
<!-- END: Theme JS-->

<!-- BEGIN: Page JS-->
<!--<script src="/app-assets/js/scripts/pages/dashboard-analytics.min.js"></script>-->
<script src="/app-assets/vendors/js/forms/select/select2.full.min.js"></script>
<script src="/app-assets/js/scripts/forms/select/form-select2.min.js"></script>

<script src="<%= yield :home_date_range_picker %>"></script>


<!-- END: Page JS-->